@charset "UTF-8";

/*
    EM HTML ID= EM CSS É #
    EM HTML É CLASS= CSS É .
*/
body{
    background-color: rgb(212, 212, 212);
    font-family: 'Courier New', Courier, monospace;
}

h1{
    color:rgb(54, 35, 27);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    
}

h1#principal{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(92, 84, 81);
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    
}

h2{
    color: rgb(87, 65, 56);
}

.basico{
    color: rgb(101, 133, 101);
    font-weight: lighter;
}
.inter{
    color: rgb(185, 169, 73);
    font-weight: lighter;
}
.avanc{
    color: rgb(172, 130, 130);
    font-weight: lighter;
}
 